body
{
    color: blueviolet;
    text-align: center;
    font-family: "Arial";
}
#cabecera
{
    background:#ee82ee;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline
{
    background:#ee82ee;
    color: white;
    margin: 0;
    padding: 0.5em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 0;
    border: 1px;
}
